.checkOutProduct {
  margin-top: 10px;
  display: flex;
}
.checkOutProduct_image {
  object-fit: contain;
  width: 180px;
  height: 100px;
}
.checkOutProduct__title {
  font-size: 17px;
  font-weight: bold;
}
.checkOutProduct__info {
  padding-left: 20px;
}
.checkOutProduct__info > button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734, #9c7e31, #846a29;
}
